{% extends 'blog/base.html' %}

<title> BLOG</title>

{% block main-area %}
<h1>Create New Post</h1>
<hr>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{ form }}
        <!-- 사용자가 태그하는 input 박스 만들기 -->
        <tr>
            <th><label for="id_tags_str">Tags:</label></th>
            <td><input type="text" name="tags_str" id="id_tags_str"></td>
        </tr>
    </table>
    <button type="submit" class="btn btn-primary float-right">Submit</button>
</form>
{% endblock %}